table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

.solpred-scrollbox {
    overflow: scroll;
    max-height: 20em;
    background-color: lightgrey;
}

.solpred-scrollbox-vertical {
    overflow-y: scroll;
    max-height: 20em;
    background-color: lightgrey;
}

.solpred-graph {
}

.solpred-table {

}
